@import url('https://fonts.googleapis.com/css2?family=Anuphan&family=Arvo&family=Bebas+Neue&family=Black+Han+Sans&family=Karla:wght@600&family=Londrina+Outline&family=Montserrat:wght@300&family=Open+Sans&family=Orbitron&family=Poppins&family=Roboto:wght@300&family=Work+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
  }

  body {
    background-color: #c9ffa3;
  }

  main {
    font-family: 'Black Han Sans', sans-serif;
   
  }

  hr{
    margin: 10px 350px;
    border: solid 1px black;
  }

  .navbar {
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  footer {
    padding: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .orden {
    margin: 5% 35%;
    display: flex;
    justify-content: space-around;
  }

  /* dispositivos small */

@media all and (max-width: 767px) {
    
  footer {
    padding: 20px 5px;
  }

  .orden {
   display: flex;
   flex-direction: column;
   align-items: center;

  }

}

/* dispositivos medium */

@media all and (min-width: 768px) and (max-width: 991px) {
  
  footer {
    padding: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }


}
